$text1: normal normal 20px 27px 'Open Sans';
$text2: normal normal 14px 21px 'Oswald';
$col-green: #4CAF50;

@mixin sq($size) {
    width: $size;
    height: $size;
    position: $size;
    left: 0px;
    top: 0px;
}
.pi{
    @include sq(1800px 904px absolute);
    background: url(image/Bitmap.png);
}

.pas{
    position: absolute;
    width: 1171.05px;
    height: 27px;
    left: 500.04px;
    top: 505.5px;

    font: $text1;

    display: flex;
    align-items: flex-end;

    letter-spacing: 1.28px;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.wr {
position: absolute;
width: 46.92px;
height: 19px;
left: 993.34px;
top: 79px;

font: $text2;

display: flex;
align-items: flex-end;
letter-spacing: 1.94px;
}

.ab{
position: absolute;
width: 44.93px;
height: 19px;
left: 1098.67px;
top: 79px;

font: $text2;
display: flex;
align-items: flex-end;
letter-spacing: 1.94px;
}

.grl{

    position: absolute;
    width: 57.91px;
    height: 2px;
    left: 985.36px;
    top: 98px;
    
    background: $col-green;}
.grl2{position: absolute;
        width: 17.97px;
        height: 2px;
        left: 1125.62px;
        top: 98px;
        
        background: $col-green;}

.con{position: absolute;
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        width: 1800px;
        height: 904px;
        left: 50px;
        right: 50px;
        top: 48px;
}

.tit {

    /* WHERE GREAT IDEAS CO */

position: absolute;
width: 1171.05px;
height: 98px;
left: 310.48px;
top: 383px;

font-family: Oswald;
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 107px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 4.608px;

color: #FFFFFF;
}

.bm {
    position: absolute;
    width: 1800px;
    height: 904px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(177.86deg, #000000 -44%, rgba(0, 0, 0, 0.0001) 82.48%);

/*background: url(Bitmap.png);*/
}
.bm4{position: absolute;
    width: 1800px;
    height: 904px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(87.84deg, #000000 8.34%, rgba(0, 0, 0, 0.0001) 71.65%);}

.bm5{position: absolute;
    width: 1800px;
    height: 904px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(270deg, #000000 -17.62%, rgba(0, 0, 0, 0.0001) 82.37%);}

.but1 {
    /* 01 */

position: absolute;
width: 42.93px;
height: 49px;
left: 845.59px;
top: 836px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 53px;
display: flex;
align-items: flex-end;
letter-spacing: 2.304px;

color: #FFFFFF;

}
.gl4{position: absolute;
    width: 39.93px;
    height: 2px;
    left: 844.59px;
    top: 860px;
    
    background: #4CAF50;}

.but2 {
    /* 02 */

position: absolute;
width: 21.96px;
height: 25px;
left: 897.5px;
top: 855px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: flex-end;
letter-spacing: 1.152px;

color: rgba(255, 255, 255, 0.437245);
}

.but3 {
    /* 03 */

position: absolute;
width: 21.96px;
height: 25px;
left: 928.45px;
top: 855px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: flex-end;
letter-spacing: 1.152px;

color: rgba(255, 255, 255, 0.437245);

}

.gr{
    /* Green Box */

position: absolute;
width: 309px;
height: 418px;
left: 303px;
top: 62px;

background: #4CAF50;
mix-blend-mode: normal;
opacity: 0.8;
}

.bm2 {
    position: absolute;
    width: 309px;
    height: 391px;
    left: 100px;
    top: 0px;
    
    background: url(image/Bitmap-2.png);
    mix-blend-mode: normal;
    opacity: 1;

}

.ms{
    /* Mask */
    position: absolute;
width: 309px;
height: 391px;
left: 100px;
top: 0px;

background: #F4F4F4;

}

.bm3 {
    position: absolute;
width: 309px;
height: 391px;
left: 506px;
top: 209px;

background: url(image/Bitmap-3.png);
mix-blend-mode: normal;
opacity: 1;
transform: matrix(-1, 0, 0, 1, 0, 0);


}

.ms2{
    position: absolute;
width: 309px;
height: 391px;
left: 506px;
top: 209px;

background: #F4F4F4;
 
}

.weare {
    position: absolute;
width: 220px;
height: 53px;
left: -100px;
top: 80px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 53px;
display: flex;
align-items: flex-end;
letter-spacing: 2.304px;

color: #333333;


}

.fs {/* First Section */

    position: absolute;
    width: 1182px;
    height: 559px;
    right: 353px;
    top: 1101px;
    }

.sqwd {/* THE SQWD */

    position: absolute;
    width: 328px;
    height: 57px;
    left: -100px;
    top: 120px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 57px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 2.688px;
    
    color: #504E4E;}

.lit{position: absolute;
    width: 381px;
    height: 75px;
    left: -60px;
    top: 190px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */
    display: flex;
    align-items: center;
    letter-spacing: 1.26px;
    
    color: #5B5858;}

.lin{position: absolute;
    width: 20px;
    height: 2px;
    left: -90px;
    top: 203px;
    
    background: #353535;}


.lit1{position: absolute;
        width: 381px;
        height: 75px;
        left: 800px;
        top: 490px;
        
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */
        display: flex;
        align-items: center;
        letter-spacing: 1.26px;
        
        color: #5B5858;}
    
.lin1{position: absolute;
        width: 20px;
        height: 2px;
        left: 770px;
        top: 503px;
        
        background: #353535;}

.fs2{position: absolute;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    left: 50px;
    height: 690px;
    top: 1777px;

 
    background: #FBFBFB;
    }

.r1{position: absolute;
    width: 373px;
    height: 260px;
    left: 300px;
    top: 294px;
    
    background: #FFFFFF;}

.tr{position: absolute;
    width: 85px;
    height: 30px;
    left: 44px;
    top: 50px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    
    color: #252525;
    }
.r2{position: absolute;
    width: 373px;
    height: 260px;
    left: 700px;
    top: 294px;
    
    background: #FFFFFF;}

.r3{position: absolute;
    width: 373px;
    height: 260px;
    left: 1100px;
    top: 294px;
    
    background: #FFFFFF;}

.lin2{position: absolute;
    width: 35px;
    height: 2px;
    left: 44px;
    top: 95px;
    
    background: #252525;}

.tt{position: absolute;
    width: 281px;
    height: 75px;
    left: 43px;
    top: 116px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 25px;
    /* or 208% */
    display: flex;
    align-items: center;
    letter-spacing: 1.008px;
    
    color: #777777;}

.rm{position: absolute;
    width: 58px;
    height: 15px;
    left: 44px;
    top: 210px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    
    color: #252525;
    
    mix-blend-mode: normal;
    opacity: 0.5;}

.oval{position: absolute;
    width: 50px;
    height: 50px;
    left: 275px;
    top: 50px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #DBDBDB;
    border-radius: 50%;}

.pc{position: absolute;
    width: 25px;
    height: 25px;
    left: 288px;
    top: 63px;
}

.gl{position: absolute;
    width: 373px;
    height: 3px;
    left: 0px;
    top: 257px;
    
    background: #70BF73;}

.os{position: absolute;
    width: 281px;
    height: 71px;
    left: 315px;
    top: 129px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.072px;
    
    color: #252525;}

.lin3{position: absolute;
    width: 45px;
    height: 2px;
    left: 315px;
    top: 207px;
    
    background: #252525;
}

	
.catside a:hover {
    position: absolute;
    width: 373px;
    height: 3px;
    left: 0px;
    top: 257px;
    
    background: #70BF73;}

.c3{position: absolute;
    width: 1185px;
    height: 1652px;
    right: 356px;
    top: 2631px;
    background: white;
    }

.tit2{
    position: absolute;
width: 289px;
height: 50px;
left: 6px;
top: 45px;

font-family: Oswald;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: flex-end;
letter-spacing: 3.072px;

color: #252525;

}

.lin4{
    position: absolute;
width: 45px;
height: 2px;
left: 6px;
top: 129px;

background: #252525;
}
.r_cat{
    position: absolute;
    width: 549px;
    height: 18px;
    left: 18px;
    top: 182px;
}
.al{
    position: absolute;
width: 25px;
height: 18px;
left: 0px;
top: 0px;

font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 18px;
/* identical to box height */
display: flex;
align-items: flex-end;
letter-spacing: 0.832px;

color: #252525;
}
.wd{position: absolute;
    width: 100px;
    height: 18px;
    left: 65.5px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    
    color: #252525;
    
    mix-blend-mode: normal;
    opacity: 0.3;
}
.br{position: absolute;
    width: 73px;
    height: 18px;
    left: 193px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    
    color: #252525;
    
    mix-blend-mode: normal;
    opacity: 0.3;}

.ph{position: absolute;
    width: 120px;
    height: 18px;
    left: 307.5px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    
    color: #252525;
    
    mix-blend-mode: normal;
    opacity: 0.3;}

.il{position: absolute;
    width: 98px;
    height: 18px;
    left: 452px;
    top: 0px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    
    color: #252525;
    
    mix-blend-mode: normal;
    opacity: 0.3;}
.ms3{position: absolute;
    width: 455px;
    height: 444px;
    right: 6px;
    top: 0px;
    
    background: #F3F4F6;}

.ph3{position: absolute;
    width: 455px;
    height: 444px;
    right: 6px;
    top: 0px;
    
    background: url(image/Bitmap-4.png);
    mix-blend-mode: normal;
    opacity: 1;}

.ms4{position: absolute;
    width: 455px;
    height: 444px;
    left: 0px;
    top: 358px;
    
    background: #F3F4F6;}

.ph4{position: absolute;
    width: 455px;
    height: 444px;
    left: 0px;
    top: 358px;
        
    background: url(image/Bitmap-5.png);
    mix-blend-mode: normal;
    opacity: 1;}
    
.ms5{position: absolute;
    width: 455px;
    height: 444px;
    right: 6px;
    top: 729px;
    
    background: #F3F4F6;}

.ph5{position: absolute;
    width: 455px;
    height: 444px;
    right: 6px;
    top: 729px;
            
        background: url(image/Bitmap-6.png);
        mix-blend-mode: normal;
        opacity: 1;}
.ms6{position: absolute;
    width: 455px;
    height: 444px;
    left: 0px;
    top: 1094px;
    
    background: #F3F4F6;}
.ph6{position: absolute;
    width: 455px;
    height: 444px;
    left: 0px;
    top: 1094px;
                
        background: url(image/Bitmap-7.png);
        mix-blend-mode: normal;
        opacity: 1;}


.yea{position: absolute;
    width: 295px;
    height: 142px;
    left: 595px;
    top: 262px;
    font-family: 'Montserrat', sans-serif;
    
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 71px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.072px;
    
    color: #252525;
    }

.kit{position: absolute;
    width: 350px;
    height: 142px;
    left: 370px;
    top: 625px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 71px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.072px;
    
    color: #252525;
    }

.gro{
    position: absolute;
width: 402px;
height: 142px;
left: 601px;
top: 995px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 71px;
display: flex;
align-items: flex-end;
letter-spacing: 3.072px;

color: #252525;
}

.ap{position: absolute;
    width: 290px;
    height: 142px;
    left: 376px;
    top: 1362px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 71px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.072px;
    text-transform: uppercase;
    
    color: #252525;}

.t2{position: absolute;
    width: 116px;
    height: 25px;
    left: 938px;
    top: 468px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 1.152px;
    
    color: #252525;
    }
.mt2{position: absolute;
    width: 336px;
    height: 46px;
    left: 718px;
    top: 510px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.832px;
    
    color: #C2C2C2;
}
.t3{position: absolute;
    width: 116px;
    height: 25px;
    left: 174px;
    top: 828px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 1.152px;
    
    color: #252525;
    }
.mt3{position: absolute;
    width: 336px;
    height: 46px;
    left: 174px;
    top: 873px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */
    display: flex;
    align-items: center;
    letter-spacing: 0.832px;
    
    color: #C2C2C2;
}
.t5{position: absolute;
    width: 116px;
    height: 25px;
    left: 174px;
    top: 1561px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 1.152px;
    
    color: #252525;
    }
.mt5{position: absolute;
    width: 336px;
    height: 46px;
    left: 174px;
    top: 1606px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */
    display: flex;
    align-items: center;
    letter-spacing: 0.832px;
    
    color: #C2C2C2;
}
.t4{position: absolute;
    width: 116px;
    height: 25px;
    left: 938px;
    top: 1200px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 1.152px;
    
    color: #252525;
    }
.mt4{position: absolute;
    width: 336px;
    height: 46px;
    left: 718px;
    top: 1242px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    /* or 177% */
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.832px;
    
    color: #C2C2C2;
}
.gl1{position: absolute;
    width: 242px;
    height: 3px;
    left: 365px;
    top: 663px;
    
    background: #70BF73;}

.gl2{position: absolute;
    width: 97px;
    height: 3px;
    left: 365px;
    top: 730px;
    
    background: #70BF73;}
.rm1{position: absolute;
    width: 81px;
    height: 18px;
    left: 174px;
    top: 939px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    
    color: #252525;}

.gl3{position: absolute;
    width: 80px;
    height: 3px;
    left: 171px;
    top: 948px;
    
    background: #70BF73;}

.tw{position: absolute;
    width: 80px;
    height: 19px;
    left: 1060px;
    top: 1629px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;

    letter-spacing: 2px;
    
    color: #252525;}

.c4{position: absolute;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    width: 1800px;
    height: 845px;
    left: 50px;
    top: 4456px;
    
    background: #FBFBFB;}

.rr1{position: absolute;
    width: 370px;
    height: 398px;
    left: 315px;
    top: 280px;}

.mm1{position: absolute;
    width: 370px;
    height: 398px;
    left: 0px;
    top: 0px;
    
    background: #D8D8D8;}

.rr2{position: absolute;
    width: 370px;
    height: 398px;
    left: 713px;
    top: 280px;
    }
.mm2{position: absolute;
    width: 370px;
    height: 398px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;}
.rr3{position: absolute;
    width: 370px;
    height: 398px;
    left: 1120px;
    top: 280px;}

.mm3{position: absolute;
    width: 370px;
    height: 398px;
    left: 0px;
    top: 0px;
    
    background: #D8D8D8;}

.pic{position: absolute;
    width: 370px;
    height: 398px;
    left: 0px;
    top: 0px;
    
    mix-blend-mode: normal;
    opacity: 1;}

.tm{position: absolute;
    width: 205px;
    height: 71px;
    left: 315px;
    top: 129px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.072px;
    
    color: #252525;}

.l1{
    position: absolute;
width: 45px;
height: 2px;
left: 315px;
top: 207px;

background: #252525;
}

.sh1{position: absolute;
    width: 370px;
    height: 55px;
    left: 0px;
    top: 349px;
    
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;}

.te1{position: absolute;
    width: 131px;
    height: 27px;
    left: 144px;
    top: 13px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    letter-spacing: 1.152px;
    
    color: #252525;}

.mng{position: absolute;
    width: 735px;
    height: 93px;
    left: 582px;
    top: 5418px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 31px;
    /* or 221% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.896px;
    
    color: #373737;
    }
.qq{position: absolute;
    width: 20px;
    height: 20px;
    left: 939px;
    top: 5542px;
    
    background: url(image/quote-hand-drawn-symbol.png);
    mix-blend-mode: normal;
    opacity: 1;}

.t7{position: absolute;
    width: 242px;
    height: 27px;
    left: 852px;
    top: 5591px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1.152px;
    
    color: #373737;
    }

.st{position: absolute;
    width: 111px;
    height: 15px;
    left: 892px;
    top: 5643px;
    background: url(image/Stars.png);
    }

.ln{
    position: absolute;
width: 511px;
height: 1px;
left: 694px;
top: 5687px;

background: #D8D8D8;
mix-blend-mode: normal;
opacity: 0.5;
}
.c5{position: absolute;
    width: 903px;
    height: 300px;
    left: 49px;
    top: 5805px;
    right: 948px;
    }
.ti{position: absolute;
    width: 264px;
    height: 36px;
    left: 320px;
    top: 123px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 2.66667px;
    
    color: #373737;}

.c6{position: absolute;
    width: 903px;
    height: 300px;
    left: 952px;
    right: 45px;
    top: 5805px;
    background: #70BD59;
    }
.t8{position: absolute;
    width: 279px;
    height: 19px;
    left: 312px;
    top: 181px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1.55556px;
    
    color: #373737;
    
    mix-blend-mode: normal;
    opacity: 0.8;}

.last{position: absolute;
    max-width: 1806px;
    margin-left: auto;
    margin-right: auto;
    width: 1806px;
    height: 339px;
    left: 49px;
    right: 45px;
    top: 6105px;
    background: #2E2E2E;}
.ad{position: absolute;
    width: 300px;
    height: 17px;
    left: 772px;
    top: 142px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.5;}
.llast{position: absolute;
    max-width: 1806px;
    margin-left: auto;
    margin-right: auto;
    width: 1806px;
    height: 58px;
    right: 45px;
    left: 49px;
    top: 6443px;
    background: #252525;
}
.tl{position: absolute;
    width: 386px;
    height: 17px;
    left: 758px;
    top: 21px;
    
    font-family: Oswald;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.832px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.5;}
.fa{position: absolute;
    width: 32px;
    height: 32px;
    left: 832px;
    top: 225px;
    
    background: url(image/facebook-logo-in-circular-button-outlined-social-symbol.png);
    mix-blend-mode: normal;
    opacity: 1;}

.twi{position: absolute;
    width: 32px;
    height: 32px;
    left: 885px;
    top: 225px;
    
    background: url(image/twitter-circular-button.png);
    mix-blend-mode: normal;
    opacity: 1;}
.pin{position: absolute;
    width: 32px;
    height: 32px;
    left: 938px;
    top: 225px;
    
    background: url(image/pinterest-logo.png);
    mix-blend-mode: normal;
    opacity: 1;}
