h1 {
    /* №7 */
    color: green;
    font-size: 100%;
    /*№9*/
    font-family: Tahoma;
    
}

#t {
    font-style: Tahoma;

}

#red {
    color: red;

}

#blue {
    color: blue;
    
}

#pink {
    color: pink;
    
}

#e {
     text-decoration: underline;
}
#b {
    font-weight:lighter;
    font-style: italic; 
}
.w0 {
    font-style: italic;
}   
.w1 {
    font:status-bar;
}
.w2 {
    font: medium;
}

#r {
    text-align: center;
}
